$white: #fff;
$contrastWhite: #F3F3F3;
$darkBg: #18191A;
$mainTextColor: #31343A;
$textMuted: #828282;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 900;
$lightGrey: #F3F3F3;
$coralColor: #A4DBE2;
$bgGradient: linear-gradient(315deg, rgba(154,221,233,1) 0%, rgba(242,201,170,1) 100%);
$h4Fsize: 20px;