* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 50px;
  line-height: 48px;
  font-weight: 600;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 26px;
}

div > img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #31343A;
  font-size: 16px;
  overflow: hidden;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
}

.container {
  max-width: 79.063%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 95%;
  }
}

:root .extra-bold {
  font-weight: 900;
}

:root .text-dark {
  color: #31343A;
}

:root .bold {
  font-weight: 700;
}

:root .s-bold {
  font-weight: 600;
}

:root .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

:root .d-none {
  display: none;
}

:root .gradient-bg {
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
}

:root .hor-div {
  margin-bottom: 30px;
}

:root .ver-div {
  margin-right: 30px;
}

:root .more {
  position: relative;
  letter-spacing: 0.1px;
}

:root .more::after {
  content: '';
  background-image: url("../images/icons/arrow-right.svg");
  width: 10px;
  height: 10px;
  right: -15px;
  top: calc(50% - 5px);
  position: absolute;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

:root .more:hover::after {
  right: -20px;
}

:root .boxed {
  display: inline-block;
  position: relative;
  z-index: 10;
  padding: 15px 34px 15px 21px;
  letter-spacing: 0.1px;
  background-color: #fff;
}

:root .boxed::after {
  content: '';
  background-image: url("../images/icons/arrow-right.svg");
  width: 10px;
  height: 10px;
  right: 20px;
  top: calc(50% - 4px);
  position: absolute;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

:root .boxed:hover::after {
  right: 15px;
}

@media screen and (max-width: 500px) {
  :root .boxed {
    padding: 12px 30px 12px 15px;
  }
  :root .boxed:after {
    right: 13px;
  }
  :root .boxed:hover::after {
    right: 5px;
  }
}

:root .column {
  max-width: 32%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

:root .column:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 2559px) {
  :root .column:not(:last-child) {
    margin-right: 34px;
  }
}

:root .column__item {
  width: 100%;
}

:root .column-two {
  max-width: 49%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

:root .play-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 5;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  cursor: pointer;
}

:root .play-icon:hover {
  opacity: .8;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

:root .cat {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 1px;
  color: #18191A;
}

:root .cat:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 2px;
  width: 100%;
  height: 2px;
  background-color: #31343A;
}

:root .shadow:after {
  content: '';
  height: 45%;
  width: 100%;
  display: block;
  background: #18191a;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 25, 26, 0)), to(#18191a));
  background: linear-gradient(180deg, rgba(24, 25, 26, 0) 0%, #18191a 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

:root .category {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  z-index: 1;
}

:root .logo {
  max-width: 153px;
  height: 60px;
  display: inline-block;
}

:root .logo img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  :root .logo {
    height: initial;
  }
}

:root .after-line, :root .active {
  position: relative;
  display: inline-block;
}

:root .after-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: #9adde9;
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

:root .after-line:hover::after {
  width: 100%;
}

:root .active::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #9adde9;
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
}

header .container {
  position: relative;
}

header .navigation {
  position: relative;
  padding: 30px 0;
}

header .navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation .navigation__list {
  width: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1px;
}

header .navigation .navigation__list .list-item {
  margin-right: 19px;
  line-height: 26px;
  position: relative;
}

header .navigation .navigation__list .list-item:last-child {
  margin-right: 0;
}

header .navigation .navigation__list .list-item:nth-child(2) {
  margin-right: 20px;
}

header .navigation .navigation__list .list-item:nth-child(3) {
  margin-right: 60px;
}

@media screen and (max-width: 900px) {
  header .navigation .navigation__list .list-item {
    font-size: 14px;
    margin-right: 15px;
  }
  header .navigation .navigation__list .list-item:nth-child(3) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 800px) {
  header .navigation .navigation__list .list-item {
    font-size: 13px;
    margin-right: 12px;
  }
  header .navigation .navigation__list .list-item:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  header .navigation .navigation__list .list-item {
    font-size: 12px;
  }
}

header .navigation .navigation__list .nav-bar {
  cursor: pointer;
}

header .navigation .navigation__list .nav-bar span {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #31343A;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

header .navigation .navigation__list .nav-bar span:not(:last-child) {
  margin-bottom: 8px;
}

header .navigation .navigation__list .nav-bar:hover span:first-child {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

header .navigation .navigation__list .nav-bar:hover span:last-child {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

header .navigation .navigation__mobile {
  position: absolute;
  right: -100vw;
  top: 0;
  background-color: #18191A;
  padding: 30px;
  z-index: 100;
  width: 45%;
  height: 100vh;
  color: #fff;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

header .navigation .navigation__mobile .mobile__list {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-transform: capitalize;
}

header .navigation .navigation__mobile .mobile__list li {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  header .navigation .navigation__mobile .mobile__list {
    font-size: 30px;
  }
  header .navigation .navigation__mobile .mobile__list li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  header .navigation .navigation__mobile .mobile__list {
    font-size: 20px;
  }
  header .navigation .navigation__mobile .mobile__list li {
    margin-bottom: 10px;
  }
}

header .navigation .navigation__mobile::after {
  content: '';
  background-image: url(../images/mobile-nav-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 564px;
  height: 490px;
  right: -225px;
  bottom: 50px;
}

@media screen and (max-width: 1024px) {
  header .navigation .navigation__mobile::after {
    width: 400px;
    right: -155px;
    bottom: 0;
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  header .navigation .navigation__mobile::after {
    width: 300px;
    right: -118px;
    bottom: 0;
    height: 250px;
  }
}

header .navigation .navigation__mobile.show {
  right: 0;
}

@media screen and (min-width: 300px) {
  header .navigation .navigation__mobile.show {
    width: 100%;
    padding: 30px;
  }
}

@media screen and (min-width: 425px) {
  header .navigation .navigation__mobile.show {
    width: 100%;
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  header .navigation .navigation__mobile.show {
    width: 687px;
    right: 0;
    padding: 60px 50px;
  }
}

header .navigation .navigation__mobile .close-icon {
  position: absolute;
  max-width: 30px;
  right: 30px;
  top: 30px;
  cursor: pointer;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

header .navigation .navigation__mobile .close-icon:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.works-grid__column:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1440px) {
  .works-grid .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1440px) {
  .works-grid .column {
    max-width: initial;
    -webkit-box-flex: 2;
        -ms-flex: 2 2 45%;
            flex: 2 2 45%;
  }
  .works-grid .column:first-child {
    margin-bottom: 30px;
  }
  .works-grid .column:nth-child(2) {
    margin-right: 0;
  }
  .works-grid .column:nth-child(3) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .works-grid .column:nth-child(3) .column__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    height: 440px;
    background-size: cover;
    background-position: center;
  }
  .works-grid .column:nth-child(3) .column__item:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .works-grid .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 51%;
            flex: 1 1 51%;
    margin-right: 0 !important;
  }
  .works-grid .column:nth-child(2) {
    margin-bottom: 30px;
  }
  .works-grid .column:nth-child(3) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works-grid .column:nth-child(3) .column__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 51%;
            flex: 1 1 51%;
  }
  .works-grid .column:nth-child(3) .column__item:first-child {
    margin-right: 0;
  }
}

.works-grid .column__item {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.works-grid .column__item:not(:last-child) {
  margin-bottom: 30px;
}

.works-grid .column__item .category {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  z-index: 1;
}

.works-grid .column__item.outer:hover:hover.shadow:after {
  opacity: 0;
  z-index: 0;
}

.works-grid .column__item.outer:hover .inner-box {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

@media screen and (max-width: 768px) {
  .works-grid .works-grid__bottom-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works-grid .works-grid__bottom-row .column__item {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin-right: 0;
  }
}

.works-grid .outer {
  cursor: pointer;
}

.works-grid .inner-box {
  position: absolute;
  -webkit-transform: translateX(-103%);
          transform: translateX(-103%);
  -webkit-transition: -webkit-transform ease-in-out .3s;
  transition: -webkit-transform ease-in-out .3s;
  transition: transform ease-in-out .3s;
  transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
  background-color: #18191A;
  width: 90%;
  height: 100%;
  z-index: 10;
}

.works-grid .inner-box__icon {
  max-width: 138px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.works-grid .inner-box__cat {
  font-size: 12px;
  color: #84D3E2;
}

.works-grid .inner-box__content {
  position: absolute;
  bottom: 30px;
  color: #fff;
  padding: 30px;
}

.works-grid .inner-box__content h3, .works-grid .inner-box__content p {
  margin-bottom: 30px;
}

.works-grid .inner-box__content .more {
  color: #31343A;
}

.works-grid .inner-box__content .more::after {
  right: 20px;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.works-grid .inner-box__content .more:hover::after {
  right: 15px;
}

@media screen and (max-width: 768px) {
  .works-grid .inner-box__content {
    bottom: 0;
  }
}

.works-grid .inner-box:after {
  content: '';
  position: absolute;
  background-image: url("../images/icons/rectangle-right.svg");
  width: 15px;
  height: 32px;
  right: -13px;
  top: calc(50% - 16px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.works-grid .small .inner-box .inner-box__content {
  bottom: 0;
  padding: 30px 20px 20px 30px;
}

@media screen and (max-width: 1024px) {
  .works-grid .small .inner-box .inner-box__content {
    padding: 0px 20px 20px 30px;
  }
  .works-grid .small .inner-box .inner-box__content h3, .works-grid .small .inner-box .inner-box__content p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .works-grid .small .inner-box .inner-box__content {
    height: 100%;
    padding: 0px 20px 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .works-grid .small.column-two:first-child .inner-box__content {
    padding: 0px 20px 10px 30px;
  }
  .works-grid .small.column-two:first-child .inner-box__content h3, .works-grid .small.column-two:first-child .inner-box__content p {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  .works-grid .small.column-two:first-child .inner-box__content h3 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .works-grid .column-two .inner-box__content p {
    margin-bottom: 20px;
  }
}

.works-grid .text-content {
  height: 300px;
  position: relative;
  padding: 79px 30px 30px;
  margin-bottom: 30px;
  color: #31343A;
}

.works-grid .text-content h2 {
  display: inline-block;
  margin-bottom: 22px;
}

.works-grid .text-content p {
  margin-bottom: 25px;
}

.works-grid .text-content::after {
  content: url(../images/icons/brand-icon.svg);
  position: absolute;
  top: 20px;
  right: 30px;
}

@media screen and (max-width: 1440px) {
  .works-grid .text-content {
    padding: 55px 30px;
  }
}

@media screen and (max-width: 1024px) {
  .works-grid .text-content {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 425px) {
  .works-grid .text-content {
    height: 250px;
  }
}

.works-grid .medium {
  position: relative;
  height: 470px;
}

.works-grid .small {
  position: relative;
  height: 300px;
}

.works-grid .works-grid__bottom-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .works-grid .works-grid__bottom-row .column__item {
    height: 250px;
  }
}

.services {
  background-color: #F3F3F3;
  padding: 175px 0 54px;
  margin-top: -150px;
}

.services img {
  position: relative;
}

.services ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__list li {
  margin-right: 119px;
  position: relative;
}

.services .services__list li:nth-child(1) {
  padding-left: 3px;
  padding-top: 2px;
}

.services .services__list li:nth-child(2) {
  margin-right: 138px;
}

.services .services__list li:nth-child(2) img {
  bottom: 15px;
}

.services .services__list li:nth-child(3) {
  margin-right: 132px;
}

.services .services__list li:nth-child(3) img {
  bottom: 8px;
}

.services .services__list li:nth-child(4) {
  margin-right: 152px;
}

.services .services__list li:nth-child(4) img {
  bottom: 2px;
}

.services .services__list li:nth-child(5) img {
  bottom: 5px;
}

.services .services__list--second li {
  position: relative;
}

.services .services__list--second li:nth-child(1) {
  margin-right: 110px;
  left: -22px;
  top: 9px;
}

.services .services__list--second li:nth-child(1) img {
  bottom: 8px;
}

.services .services__list--second li:nth-child(2) {
  margin-right: 210px;
  left: -22px;
  top: 9px;
}

.services .services__list--second li:nth-child(2) img {
  bottom: 8px;
}

.services .services__list--second li:nth-child(3) {
  margin-right: 170px;
}

.services .services__list--second li:nth-child(3) img {
  bottom: 0px;
}

.services .services__list--second li:nth-child(4) {
  margin-right: 136px;
}

.services .services__list--second li:nth-child(4) img {
  bottom: 5px;
}

.services .services__list--second li:nth-child(5) img {
  bottom: -1px;
}

.services .services__list--third li:nth-child(1) {
  margin-right: 103px;
}

.services .services__list--third li:nth-child(1) img {
  bottom: -4px;
  left: -3px;
}

.services .services__list--third li:nth-child(2) {
  margin-right: 182px;
}

.services .services__list--third li:nth-child(2) img {
  bottom: -2px;
  left: 0px;
}

.services .services__list--third li:nth-child(3) {
  margin-right: 175px;
}

.services .services__list--third li:nth-child(3) img {
  bottom: -6px;
}

.services .services__list--third li:nth-child(4) {
  margin-right: 132px;
}

.services .services__list--third li:nth-child(4) img {
  bottom: -8px;
}

.services .services__list--third li:nth-child(5) img {
  bottom: -14px;
}

@media screen and (min-width: 2560px) {
  .services .services__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1440px) {
  .services ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .services ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1440px) {
  .services ul li {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .services ul li {
    margin-bottom: 30px;
    margin-right: 20px !important;
  }
}

.we-are {
  padding-top: 148px;
}

.we-are .container {
  position: relative;
}

@media screen and (max-width: 1440px) {
  .we-are .container {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .we-are .container {
    padding-bottom: initial;
  }
}

.we-are__left-side {
  max-width: 800px;
  position: relative;
  padding: 97px 0px 88px 46.5px;
  z-index: 10;
}

.we-are__left-side:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  bottom: -16px;
  background-image: url(../images/icons/we-are-brand-icon.svg);
  width: 413.6px;
  height: 334.86px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.we-are__left-side h2 {
  margin: 25px 0 16px;
}

.we-are__left-side p {
  margin-bottom: 32px;
}

.we-are__left-side h4 {
  margin-bottom: 7px;
  font-weight: 500;
  line-height: 26px;
  padding-left: 4px;
}

.we-are__left-side .left-side__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  padding-left: 4px;
}

.we-are__left-side .left-side__services .column {
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.we-are__left-side .left-side__services .column img {
  width: 15px;
  height: 11px;
  margin-right: 5px;
}

.we-are__left-side .left-side__services .column li {
  font-size: 18px;
  padding-top: 13px;
}

@media screen and (max-width: 425px) {
  .we-are__left-side .left-side__services .column li {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .we-are__left-side .left-side__services .column li {
    font-size: 10px;
  }
}

.we-are__left-side .left-side__services .column:not(:last-child) {
  margin-right: 18px;
}

.we-are__left-side .boxed {
  margin-left: 3px;
  line-height: 26px;
  padding: 14px 34px 13px 21px;
}

.we-are__left-side .boxed .more::after {
  right: 20px;
}

@media screen and (max-width: 425px) {
  .we-are__left-side .boxed {
    padding: 5px 30px 5px 15px;
    font-size: 13px;
  }
  .we-are__left-side .boxed:after {
    right: 15px;
  }
  .we-are__left-side .boxed:hover:after {
    right: 5px;
  }
}

@media screen and (max-width: 1440px) {
  .we-are__left-side {
    width: 800px;
    padding: 50px 20px;
    position: relative;
    margin: 0 auto;
  }
  .we-are__left-side br {
    display: none;
  }
  .we-are__left-side .left-side__services .column {
    max-width: 60%;
  }
  .we-are__left-side .left-side__services .column:first-child {
    max-width: 40%;
    margin-right: 5px;
  }
}

@media screen and (max-width: 992px) {
  .we-are__left-side {
    position: relative;
    width: initial;
    left: 0;
    padding: 30px 15px;
  }
  .we-are__left-side h2 {
    margin: 20px 0 13px;
    line-height: 40px;
  }
  .we-are__left-side p {
    margin-bottom: 20px;
  }
  .we-are__left-side .left-side__services {
    margin-bottom: 30px;
  }
  .we-are__left-side .left-side__services .column li {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .we-are__left-side p {
    margin-bottom: 20px;
  }
  .we-are__left-side h2 {
    margin: 20px 0 13px;
    line-height: 30px;
  }
  .we-are__left-side .left-side__services .column img {
    width: 10px;
  }
  .we-are__left-side .left-side__services .column li {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .we-are__left-side .left-side__services .column li {
    font-size: 10px;
  }
}

.we-are .we-are__right-side {
  max-width: 985px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: -22px;
}

@media screen and (max-width: 2500px) {
  .we-are .we-are__right-side {
    max-width: 985px;
    position: absolute;
    top: 85px;
  }
}

@media screen and (max-width: 1920px) {
  .we-are .we-are__right-side {
    top: -15px;
  }
}

@media screen and (max-width: 1440px) {
  .we-are .we-are__right-side {
    max-width: 700px;
    position: relative;
    top: -14px;
  }
}

@media screen and (max-width: 768px) {
  .we-are .we-are__right-side {
    top: -10px;
  }
}

.we-are .cat {
  padding-left: 4px;
}

.we-are .cat::after {
  left: 3px;
  width: 85px;
}

@media screen and (max-width: 1100px) {
  .we-are {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
  }
}

@media screen and (max-width: 425px) {
  .we-are {
    padding-top: 50px;
  }
}

.fof {
  padding-top: 144px;
}

.fof__cat::after {
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
}

.fof__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 26px 0 36px;
}

.fof__title .boxed {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -6px;
}

@media screen and (max-width: 878px) {
  .fof__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fof__title .boxed {
    margin-top: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .fof__title h2 br {
    display: none;
  }
}

.fof .slider-link {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  z-index: 10000000;
}

.fof__slider {
  position: relative;
}

.fof__slider::after {
  content: '';
  background-image: url(../images/slider-linkedin-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 24px;
  top: 32px;
  z-index: 10000000;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.fof__slider:hover::after {
  top: 30px;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.fof__slider .slider__item {
  height: 652px;
  width: 25vw;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fof__slider .slider__item .item__content {
  position: relative;
  padding-left: 30px;
  padding-bottom: 69px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  z-index: 20;
  background-position: center;
  background-repeat: no-repeat;
}

.fof__slider .slider__item .item__content h4 {
  margin-bottom: 8px;
}

.fof__slider .slider__item .item__content p {
  font-size: 16px;
}

.fof__slider .slider__item .item__content::before {
  content: '';
  position: absolute;
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
  bottom: 0px;
  left: 0px;
  width: 160px;
  height: 2px;
}

@media screen and (min-width: 2500px) {
  .fof__slider .slider__item .item__content::before {
    bottom: 2px;
  }
}

.fof__slider .slider__item .item__content .text {
  width: 80%;
  height: 52px;
}

@media screen and (max-width: 1024px) {
  .fof__slider .slider__item .item__content {
    padding-left: 20px;
  }
  .fof__slider .slider__item .item__content p {
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
  }
  .fof__slider .slider__item .item__content::before {
    width: 45%;
  }
  .fof__slider .slider__item .item__content .text {
    width: 93%;
    height: 63px;
  }
}

@media screen and (max-width: 768px) {
  .fof__slider .slider__item .item__content {
    padding-bottom: 35px;
  }
  .fof__slider .slider__item .item__content p {
    font-size: 12px;
  }
  .fof__slider .slider__item .item__content::before {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .fof__slider .slider__item {
    height: 460px;
  }
}

.fof__slider .inner {
  width: 0;
  position: absolute;
  opacity: 0;
  z-index: 50;
  height: 100%;
  top: 0;
  color: #fff;
  background-repeat: no-repeat;
}

.fof__slider .inner img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fof__slider .inner .child {
  z-index: 200;
  height: 100%;
}

.fof__slider .inner .child:hover {
  width: 80vw;
}

.fof__slider .inner .alternative-content {
  max-width: 55%;
  opacity: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 69px;
}

.fof__slider .inner .alternative-content p {
  padding-top: 30px;
}

.fof__slider .outer .item__content {
  -webkit-transition: ease .5s;
  transition: ease .5s;
  overflow: hidden;
}

.fof__slider .outer .item__content .text {
  position: relative;
  overflow: hidden;
  max-width: initial;
}

.fof__slider .outer .item__content .additional-text {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0;
  width: 0;
  height: 0;
}

.fof__slider .outer .item__content p {
  width: 80vw;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.fof__slider .outer .item__content .more {
  opacity: 0;
  max-width: 100px;
  height: 0;
}

.fof__slider .outer .item__content .more::after {
  background-image: url("../images/icons/arrow-forward.svg");
  background-size: cover;
  width: 15px;
  height: 15px;
  top: calc(50% - 7px);
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.fof__slider .outer .item__content .more::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #9adde9;
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

.fof__slider .outer .item__content .more:hover::before {
  width: 80%;
}

.fof__slider .outer:hover {
  position: absolute;
  width: 100vw !important;
  left: 0;
  z-index: 100;
  background-image: none !important;
  overflow: visible;
}

.fof__slider .outer:hover .item__content {
  background-image: none !important;
  position: absolute;
  width: 100vw !important;
  left: 0;
  background-size: cover;
  z-index: 2005;
  overflow: visible;
}

.fof__slider .outer:hover .item__content:first-child {
  z-index: 2005;
}

.fof__slider .outer:hover .item__content p {
  max-width: 50vw;
}

.fof__slider .outer:hover .item__content h4 {
  position: relative;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.fof__slider .outer:hover .item__content .text {
  width: 80vw;
  height: initial;
  margin-bottom: 30px;
  overflow: visible;
}

.fof__slider .outer:hover .item__content .more {
  opacity: 1;
  height: initial;
}

.fof__slider .outer:hover .item__content .additional-text {
  width: 100%;
  opacity: 1;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.fof__slider .outer:hover .item__content::before {
  width: 100vw;
}

.fof__slider .outer:hover:first-child .item__content {
  z-index: 2005;
}

.fof__slider .outer:hover .inner {
  z-index: 1000;
  left: 0;
  width: 80%;
  opacity: 1;
  -webkit-transition: width ease .5s;
  transition: width ease .5s;
}

.fof__slider .outer:hover .inner .child {
  width: 100%;
  -webkit-transition: width ease-in-out .5s;
  transition: width ease-in-out .5s;
}

.fof__slider .outer:hover .inner.shadow::after {
  background: linear-gradient(190deg, rgba(24, 25, 26, 0) 0%, #18191a9e 100%);
  display: none;
}

.fof__slider .outer:hover .alternative-content {
  z-index: 20;
  opacity: 0;
  height: initial;
}

.fof__slider .outer:hover .alternative-content h4 {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.fof__slider .outer:hover[data-custom-number='2'] .item__content, .fof__slider .outer:hover[data-custom-number='2'] .inner {
  position: absolute;
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='1'] .item__content, .fof__slider .outer:hover[data-custom-number='1'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='0'] .item__content, .fof__slider .outer:hover[data-custom-number='0'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='-1'] .item__content, .fof__slider .outer:hover[data-custom-number='-1'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='-5'] .item__content, .fof__slider .outer:hover[data-custom-number='-5'] .inner {
  left: 39vw;
}

.fof__slider .outer:hover[data-custom-number='-6'] .item__content, .fof__slider .outer:hover[data-custom-number='-6'] .inner {
  left: 39vw;
}

.fof__slider .outer:hover[data-custom-number='-7'] .item__content, .fof__slider .outer:hover[data-custom-number='-7'] .inner {
  left: 39vw;
}

.fof__slider .outer:hover[data-custom-number='-8'] .item__content, .fof__slider .outer:hover[data-custom-number='-8'] .inner {
  left: 39vw;
}

.fof__slider .outer:hover[data-custom-number='-9'] .item__content, .fof__slider .outer:hover[data-custom-number='-9'] .inner {
  left: 39vw;
}

.fof__slider .outer:hover[data-custom-number='-18'] .item__content, .fof__slider .outer:hover[data-custom-number='-18'] .inner {
  left: 0;
}

.fof__slider .outer:hover[data-custom-number='-19'] .item__content, .fof__slider .outer:hover[data-custom-number='-19'] .inner {
  left: 39vw;
}

.fof__slider .outer:hover[data-custom-number='-10'] .item__content, .fof__slider .outer:hover[data-custom-number='-10'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='-11'] .item__content, .fof__slider .outer:hover[data-custom-number='-11'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='-12'] .item__content, .fof__slider .outer:hover[data-custom-number='-12'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='-13'] .item__content, .fof__slider .outer:hover[data-custom-number='-13'] .inner {
  left: 19vw;
}

.fof__slider .outer:hover[data-custom-number='-20'] .item__content, .fof__slider .outer:hover[data-custom-number='-20'] .inner {
  left: 58vw;
}

.fof__slider .outer:hover[data-custom-number='-21'] .item__content, .fof__slider .outer:hover[data-custom-number='-21'] .inner {
  left: 58vw;
}

@media screen and (max-width: 1024.1px) {
  .fof__slider .outer:hover[data-custom-number='2'] .item__content, .fof__slider .outer:hover[data-custom-number='2'] .inner {
    left: 26vw;
  }
  .fof__slider .outer:hover[data-custom-number='1'] .item__content, .fof__slider .outer:hover[data-custom-number='1'] .inner {
    left: 25vw;
  }
  .fof__slider .outer:hover[data-custom-number='0'] .item__content, .fof__slider .outer:hover[data-custom-number='0'] .inner {
    left: 25vw;
  }
  .fof__slider .outer:hover[data-custom-number='-5'] .item__content, .fof__slider .outer:hover[data-custom-number='-5'] .inner {
    left: 51vw;
  }
  .fof__slider .outer:hover[data-custom-number='-6'] .item__content, .fof__slider .outer:hover[data-custom-number='-6'] .inner {
    left: 51vw;
  }
  .fof__slider .outer:hover[data-custom-number='-7'] .item__content, .fof__slider .outer:hover[data-custom-number='-7'] .inner {
    left: 51vw;
  }
  .fof__slider .outer:hover[data-custom-number='-12'] .item__content, .fof__slider .outer:hover[data-custom-number='-12'] .inner {
    left: 77vw;
  }
  .fof__slider .outer:hover[data-custom-number='-13'] .item__content, .fof__slider .outer:hover[data-custom-number='-13'] .inner {
    left: 77vw;
  }
  .fof__slider .outer:hover[data-custom-number='-14'] .item__content, .fof__slider .outer:hover[data-custom-number='-14'] .inner {
    left: 77vw;
  }
  .fof__slider .outer:hover[data-custom-number='-19'] .item__content, .fof__slider .outer:hover[data-custom-number='-19'] .inner {
    left: 51vw;
  }
  .fof__slider .outer:hover[data-custom-number='-18'] .item__content, .fof__slider .outer:hover[data-custom-number='-18'] .inner {
    left: 51vw;
  }
  .fof__slider .outer:hover[data-custom-number='-17'] .item__content, .fof__slider .outer:hover[data-custom-number='-17'] .inner {
    left: 51vw;
  }
  .fof__slider .outer:hover[data-custom-number='-24'] .item__content, .fof__slider .outer:hover[data-custom-number='-24'] .inner {
    left: 26vw;
  }
  .fof__slider .outer:hover[data-custom-number='-23'] .item__content, .fof__slider .outer:hover[data-custom-number='-23'] .inner {
    left: 25vw;
  }
}

@media screen and (max-width: 768.1px) {
  .fof__slider .outer:hover[data-slick-index='0'] .item__content {
    left: 0;
  }
  .fof__slider .outer:hover[data-slick-index='0'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='1'] .item__content, .fof__slider .outer:hover[data-slick-index='1'] .inner {
    left: -26vw;
  }
  .fof__slider .outer:hover[data-slick-index='1'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='2'] .item__content, .fof__slider .outer:hover[data-slick-index='2'] .inner {
    left: -53vw;
  }
  .fof__slider .outer:hover[data-slick-index='2'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='3'] .item__content, .fof__slider .outer:hover[data-slick-index='3'] .inner {
    left: 0;
  }
  .fof__slider .outer:hover[data-slick-index='3'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='4'] .item__content, .fof__slider .outer:hover[data-slick-index='4'] .inner {
    left: -26vw;
  }
  .fof__slider .outer:hover[data-slick-index='4'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='5'] .item__content, .fof__slider .outer:hover[data-slick-index='5'] .inner {
    left: -53vw;
  }
  .fof__slider .outer:hover[data-slick-index='5'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='7'] .item__content, .fof__slider .outer:hover[data-slick-index='7'] .inner {
    left: -26vw;
  }
  .fof__slider .outer:hover[data-slick-index='7'] .child {
    width: 100vw;
  }
  .fof__slider .outer:hover[data-slick-index='8'] .item__content, .fof__slider .outer:hover[data-slick-index='8'] .inner {
    left: -53vw;
  }
  .fof__slider .outer:hover[data-slick-index='8'] .child {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .fof__slider .outer {
    pointer-events: none;
  }
}

.fof__slider.shadow {
  background-image: linear-gradient(190deg, rgba(24, 25, 26, 0) 0%, #18191a67 100%);
}

.fof__slider.shadow::after {
  display: none;
}

@media screen and (max-width: 425px) {
  .fof__slider .slick-list, .fof__slider .slider__item {
    max-height: 400px;
  }
  .fof__slider .fa-chevron-right {
    right: 0px;
  }
  .fof__slider .fa-chevron-left {
    left: 80%;
  }
  .fof__slider .slick-arrow {
    bottom: -50px;
  }
}

.fof__slider .slick-arrow {
  position: absolute;
  bottom: -70px;
  top: inherit;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .fof__slider .slick-arrow {
    width: 20px;
    height: 20px;
  }
}

.fof__slider .fa-chevron-right {
  right: -10px;
}

.fof__slider .fa-chevron-left {
  left: 94%;
}

@media screen and (max-width: 1024px) {
  .fof__slider .fa-chevron-left {
    left: 90%;
  }
}

@media screen and (max-width: 768px) {
  .fof__slider .fa-chevron-left {
    left: 86%;
  }
}

@media screen and (max-width: 1024px) {
  .fof {
    padding-top: 40px;
  }
  .fof h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .fof {
    padding-top: 0;
  }
}

.fof .slider-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.fof .slider-nav .slides-counter {
  color: #fff;
  font-size: 16px;
  margin-right: 20px;
}

@media screen and (max-width: 425px) {
  .fof .slider-nav .slides-counter {
    font-size: 11px;
  }
}

.fof .slider-nav .prev, .fof .slider-nav .next {
  position: relative;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 40px;
}

@media screen and (max-width: 425px) {
  .fof .slider-nav .prev, .fof .slider-nav .next {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.fof .slider-nav i {
  position: relative;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.fof .slider-nav .fa-chevron-right::before {
  bottom: 0;
  height: initial;
}

.fof .slider-nav .fa-chevron-left::before {
  bottom: 0;
  height: initial;
}

.fof .slider-nav .prev {
  margin-right: 30px;
}

@media screen and (max-width: 425px) {
  .fof .slider-nav .prev {
    margin-right: 20px;
  }
}

.news {
  margin-top: -164px;
  background-color: #18191A;
  color: #fff;
}

.news__content {
  padding-top: 318px;
  margin-bottom: 100px;
  background-image: url(../images/news-bg-2.svg);
  background-position: 50% 140%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .news__content {
    background-position: 50% 65%;
    margin: 50px 0;
    padding-top: 180px;
  }
}

.news .cat {
  padding-left: 0;
}

.news .cat::after {
  left: 0px;
  bottom: -4px;
  background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
}

.news__title {
  margin: 20px 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__title h2 {
  color: #A4DBE2;
}

.news__title .boxed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  width: 112px;
  position: relative;
  top: -8px;
  left: 0.5px;
}

.news__title .boxed:hover::after {
  right: 17px;
}

@media screen and (max-width: 500px) {
  .news__title .boxed::after {
    right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .news__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__title .boxed {
    height: 40px;
    margin-top: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .news__title .boxed::after {
    top: calc(50% - 5px);
  }
}

.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__cards .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 32%;
}

.news__cards .card__image {
  margin-bottom: 16px;
}

.news__cards .card__date {
  margin-bottom: 9px;
  font-size: 14px;
}

.news__cards .card__descr {
  color: #A4DBE2;
  margin-bottom: 16px;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .news__cards .card__descr {
    line-height: 26px;
  }
}

.news__cards .card .more {
  font-size: 20px;
}

.news__cards .card .more::after {
  content: '';
  background-image: url("../images/icons/arrow-forward.svg");
  background-position: center;
  background-size: cover;
}

.news__cards .card:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .news__cards .card:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 790px) {
  .news__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news__cards .card {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.news__banner {
  background-color: #fff;
  color: #18191A;
  padding: 45px 40px 54px 50px;
}

.news__banner h2 {
  margin-bottom: 11px;
}

.news__banner p {
  max-width: 49%;
  margin-bottom: 17px;
}

.news__banner .boxed {
  padding: 12px 42px 8px 8px;
}

@media screen and (max-width: 768px) {
  .news__banner {
    padding: 30px 40px 35px 50px;
  }
}

.footer {
  padding: 100px 0 17px;
  background-color: #18191A;
  color: #F3F3F3;
  font-size: 16px;
}

.footer .container .column {
  max-width: 23.5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0;
  position: relative;
}

.footer .after-line::after {
  bottom: -2px;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 47px;
}

.footer__columns .column li {
  margin-bottom: 17px;
}

.footer__columns .column li a {
  color: #F3F3F3;
}

.footer__columns .column li:last-child {
  margin-bottom: 0;
}

.footer__columns .column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 42px;
}

.footer__columns .column .adress {
  line-height: 26px;
}

.footer__columns .column .social-block li:nth-child(2) {
  margin-bottom: 61px;
}

.footer__columns .column__menu {
  padding-left: 31px;
}

.footer__columns .column__menu .left {
  width: 50%;
  margin-right: 128px;
}

@media screen and (max-width: 1440px) {
  .footer__columns .column__menu .left {
    margin-right: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .footer__columns .column__menu .left {
    padding-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .footer__columns .column__menu .left {
    padding-left: 0px;
  }
}

.footer__columns .column__menu .right {
  width: 50%;
  padding-top: 38px;
}

.footer__columns .column__menu li {
  line-height: 25px;
  margin-bottom: 14px;
}

.footer__columns .column__menu li a {
  text-transform: capitalize;
}

.footer__credits {
  text-align: center;
  font-size: 14px;
  color: #828282;
}

.play-icon #mylightbox {
  opacity: 0;
}

.featherlight-content #mylightbox {
  opacity: 1;
}

@media screen and (max-width: 1440px) {
  h2 {
    font-size: 40px;
  }
  .works-grid .medium {
    height: 444px;
  }
  .news__title h2, .fof__title h2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
  .footer .container .column {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .footer .column__menu {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .footer .container .column {
    max-width: 26%;
  }
  .footer .container .column:last-child {
    padding-right: 30px;
  }
  .footer .footer__columns .column__menu .left {
    margin-right: 17px;
  }
  .footer .footer__columns .column li, .footer .footer__columns .column li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .news__cards .card .more {
    font-size: 16px;
  }
  .news__banner p {
    max-width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    padding-top: 150px;
    position: relative;
  }
  .footer .container .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .container .footer__columns .column {
    max-width: 40%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .footer .container .footer__columns .column:first-child {
    position: absolute;
    left: calc(50% - 72.5px);
    top: 50px;
  }
  .footer .container .footer__columns .column:nth-child(2) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 992px) and (max-width: 741px) {
  .footer .container .footer__columns .column li, .footer .container .footer__columns .column a {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer .container .footer__columns .column .social-block li {
    margin-bottom: 15px;
  }
  .footer .container .footer__columns .column:nth-child(2) {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer .container .footer__columns .column:last-child {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    padding: 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 741px) {
  .footer .container .footer__columns .column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 60%;
  }
}

@media screen and (max-width: 992px) and (max-width: 741px) {
  .footer .container .footer__columns .column__menu .right {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 25px;
  }
  .news__cards .card .more {
    font-size: 14px;
  }
  .works-grid .medium {
    height: 400px;
  }
}

@media screen and (max-width: 742px) {
  .footer-email, .adress {
    position: absolute;
    right: 0;
  }
  .adress {
    bottom: 40px;
  }
  .footer-email {
    bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  nav {
    position: relative;
    padding-top: 60px;
  }
  nav .logo {
    position: absolute;
    left: calc(50% - 72.5px);
    top: 0;
  }
  header .navigation .navigation__list {
    position: relative;
    width: 100%;
    padding-top: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navigation .navigation__list .list-item {
    margin: 0 !important;
  }
  header .navigation .navigation__list .list-item:first-child {
    position: absolute;
    left: calc(50% - 37.5px);
    top: 10px;
  }
  header .navigation .navigation__list .list-item:nth-child(3) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 670px) {
  #mylightbox {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  p {
    font-size: 13px;
    line-height: 23px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .news__banner {
    padding: 20px;
  }
  .news__banner p {
    line-height: 20px;
  }
  .services {
    padding-bottom: 30px;
  }
  .services .services__list li {
    margin-bottom: 10px;
  }
  .services img {
    max-width: 88px;
  }
  .works-grid .medium, .works-grid .column:nth-child(3) .column__item {
    height: 300px;
  }
  .footer__credits {
    font-size: 9px;
  }
}

.slick-disabled {
  pointer-events: none !important;
}
/*# sourceMappingURL=style.css.map */