
@import 'vars';


// ===== serialize 
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1, h2, h3, h4, p, ul,li,a {
    margin: 0;
    padding: 0;

}
li{ 
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-size: 50px;
    line-height: 48px;
    font-weight: $semiBold;
}
h3{
    font-size: 42px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 18px;
    line-height: 26px;
}
div > img {
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: $mainTextColor;
    font-size: 16px;
    overflow: hidden;
}
.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
}
.container {
    max-width: 79.063%;
    margin: 0 auto;
    padding: 0 10px;
    @media screen  and (max-width: 1200px){
        padding: 0 10px;
    }
    @media screen  and (max-width: 425px){
        max-width: 95%;
    }
}
//  ===== root
:root{
    .extra-bold{
        font-weight: $extraBold;
    }
    .text-dark{
        color: $mainTextColor;
    }
    .bold{
        font-weight: $bold;
    }
    .s-bold{
        font-weight: $semiBold;
    }
    .d-flex{
        display: flex;
    }
    .d-none{
        display: none;
    }
    .gradient-bg{
        background: linear-gradient(315deg, rgba(154,221,233,1) 0%, rgba(242,201,170,1) 100%);
    }
    .hor-div{
        margin-bottom: 30px;
    }
    .ver-div{
        margin-right: 30px;
    }
    .more{
        position: relative;
        letter-spacing: 0.1px;
        &::after{
            content: '';
            background-image: url('../images/icons/arrow-right.svg');
            width: 10px;
            height: 10px;
            right: -15px;
            top: calc(50% - 5px);
            position: absolute;
            transition: ease .5s;
        }
        &:hover::after {
            right: -20px;
        }
    }
    .boxed{
        display: inline-block;
        position: relative;
        z-index: 10;
        padding: 15px 34px 15px 21px;
        letter-spacing: 0.1px;
        background-color: $white;
        &::after{
            content: '';
            background-image: url('../images/icons/arrow-right.svg');
            width: 10px;
            height: 10px;
            right: 20px;
            top: calc(50% - 4px);
            position: absolute;
            transition: ease .3s;
        }
        &:hover::after {
            right: 15px;
        }
       
        @media screen and (max-width: 500px) {
            padding:  12px 30px 12px 15px;
            &:after {
                right: 13px;
            }
            &:hover::after {
                right: 5px;
            }
        }
    }
    
    .column{
        max-width: 32%;
        flex: 1;
        &:not(:last-child){
            margin-right: 30px;
            @media screen and (min-width: 2559px) {
                margin-right: 34px;
            }
        }
        &__item{
            width: 100%;
        }
    }
    .column-two{
        max-width: 49%;
        flex: 1;
    }
    .play-icon{
        width: 80px;
        height: 80px;
        position: absolute;
        z-index: 5;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
        cursor: pointer;
        &:hover{
            opacity: .8;
            transition: ease .3s;
        }
    }
    .cat{
        display: inline-block;
        position: relative;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        padding-left: 1px;
        color: $darkBg;
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: -3px;
            left: 2px;
            width: 100%;
            height: 2px;
            background-color: $mainTextColor;
        }
    }
    .shadow{
        
        &:after{
            content: '';
            height: 45%;
            width: 100%;
            display: block;
            background: rgb(24,25,26);
            background: linear-gradient(180deg, rgba(24,25,26,0) 0%, rgba(24,25,26,1) 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: ease .2s;
        }
    }
    .category{
        font-size: 24px;
        font-weight: $semiBold;
        color: $white;
        text-transform: capitalize;
        z-index: 1;
    }
    .logo{
        max-width: 153px;
        height: 60px;
        display: inline-block;
        img{
            width: 100%;
        }
        @media screen and (max-width: 768px)  {
            height: initial;
        }
    }
    .after-line, .active{
        position: relative;
        display: inline-block;
    }
    .after-line::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: rgb(154,221,233);
        background: linear-gradient(315deg, rgba(154,221,233,1) 0%, rgba(242,201,170,1) 100%);
        transition: ease .3s;
    }
    .after-line:hover::after{
        width: 100%;
    }
    
    .active::after{
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgb(154,221,233);
        background: linear-gradient(315deg, rgba(154,221,233,1) 0%, rgba(242,201,170,1) 100%);
    }
}

// ===== header 
header {
    .container{
        position: relative;
    }
    .navigation{
        position: relative;
        padding: 30px 0;
        nav{
            display: flex;  
        }
        .navigation__list{
            width: 91%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 1px;
            .list-item{
                margin-right: 19px;
                line-height: 26px;
                position: relative;
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(2){
                    margin-right: 20px;
                }
                &:nth-child(3){
                    margin-right: 60px;
                }
                @media screen and (max-width: 900px) {
                    font-size: 14px;
                    margin-right: 15px;
                    &:nth-child(3){
                        margin-right: 40px;
                    }
                }
                @media screen and (max-width: 800px) {
                    font-size: 13px;
                    margin-right: 12px;
                    &:nth-child(3){
                        margin-right: 30px;
                    }
                }
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                    
                }
            }
            .nav-bar{
                cursor: pointer;
                span{
                    display: block;
                    width: 40px;
                    height: 3px;
                    background-color: $mainTextColor;
                    transition: ease .3s;
                    &:not(:last-child){
                        margin-bottom: 8px;
                    }
                }
                &:hover{
                    span{
                        &:first-child{
                            transform: translateY(3px);
                        }
                        &:last-child{
                            transform: translateY(-3px);
                        }
                    }
                }
            }
            
        }
        .navigation__mobile{
            position: absolute;
            right: -100vw;
            top: 0;
            background-color: $darkBg;
            padding: 30px;
            z-index: 100;
            width: 45%;
            height: 100vh;
            color: #fff;
            transition: ease .5s;
            .mobile__list{
                font-size: 40px;
                font-weight: 500;
                line-height: 48px;
                text-transform: capitalize;
                li{
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 768px){
                    
                    font-size: 30px;
                    li{
                        margin-bottom: 20px;
                    }
                    
                }
                @media screen and (max-width: 500px){
                    
                    font-size: 20px;
                    li{
                        margin-bottom: 10px;
                    }
                    
                }
                
            }
            &::after{
                content: '';
                background-image: url(../images/mobile-nav-bg.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                width: 564px;
                height: 490px;
                right: -225px;
                bottom: 50px;
                @media screen and (max-width: 1024px){
                    width: 400px;
                    right: -155px;
                    bottom: 0;
                    height: 350px;
            }
                @media screen and (max-width: 500px){
                        width: 300px;
                        right: -118px;
                        bottom: 0;
                        height: 250px;
                }
                
            }
             
            
            &.show{
                right: 0;
                @media screen and (min-width: 300px){

                    width: 100%;
                    padding: 30px;
                    
                }
                @media screen and (min-width: 425px){
                    width: 100%;
                   
                    
                    padding: 40px;
                    
                }
                @media screen and (min-width: 768px){
                    width: 687px;
                    right: 0;
                    padding: 60px 50px;
                }
            }
            .close-icon{
                position: absolute;
                max-width: 30px;
                right: 30px;
                top: 30px;
                cursor: pointer;
                transition: ease-in-out .3s;
                &:hover{
                    transform: scale(.8);
                
                }
            }
        }
    }
}
// =====  works grid 
.works-grid {

    &__column{
        &:nth-child(3){
            display: flex;
            align-items: flex-end;
        }
    }
    @media screen and (max-width: 1440px) {
        .container{
            flex-wrap: wrap;
        }
    }
    .column{

        @media screen and (max-width: 1440px) {
            max-width: initial;
            flex: 2 2 45%;
            &:first-child{
               
                margin-bottom: 30px;
                
            }
            &:nth-child(2){
                margin-right: 0;
            }
            &:nth-child(3){
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                
                .column__item{
                    flex: 1 1 48%;
                    height: 440px;
                    background-size: cover;
                    background-position: center;
                    &:first-child{
                        margin-right: 30px;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            flex: 1 1 51%;
            margin-right: 0!important;
            &:nth-child(2){
                margin-bottom: 30px;
            }
            &:nth-child(3){
                flex-wrap: wrap;
                .column__item{
                    flex: 1 1 51%;
                    &:first-child{
                        margin-right: 0;
                    }
                }
               
            }
        }
    }
        .column__item{
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            &:not(:last-child){
                margin-bottom: 30px;
            }
            .category{
                position: absolute;
                bottom: 30px;
                left: 30px;
                font-size: 24px;
                font-weight: $semiBold;
                color: $white;
                text-transform: capitalize;
                z-index: 1;
            }
            
            &.outer:hover{
                
                &:hover.shadow:after{
                    opacity: 0;
                    z-index: 0;
                }
                .inner-box{
                    transform: translateX(0%)!important;
                }
            }
            
        }
        
        @media screen and (max-width: 768px){
            .works-grid__bottom-row{
                flex-wrap: wrap;
                .column__item{
                    max-width: 100%;
                    flex: 1 100%;
                    margin-right: 0;
                }
            }
            
        }
        .outer{
            cursor: pointer;
           
        }
        .inner-box{        
            position: absolute;
            transform: translateX(-103%);
            transition: transform ease-in-out .3s;
            background-color: $darkBg;
            width: 90%;
            height: 100%;
            z-index: 10;
            
            &__icon{
                max-width: 138px;
                position: absolute;
                right: 30px;
                top: 30px;
            }
            &__cat{
                font-size: 12px;
                color: #84D3E2;
            }
            &__content{
                position: absolute;
                bottom: 30px;
                color: $white;
                padding: 30px;
                
                h3, p{
                    margin-bottom: 30px;
                }
                
                .more{
                    color: $mainTextColor;
                    &::after{
                        right: 20px;
                        
                        transition: ease .5s;
                    }
                    &:hover::after{
                        right: 15px;
                    }
                } 
                @media screen and (max-width: 768px) {
                    bottom: 0;
                }
            }
            &:after{
                content: '';
                position: absolute;
                background-image: url('../images/icons/rectangle-right.svg');
                width: 15px;
                height: 32px;
                right: -13px;
                top: calc(50% - 16px);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            
        }
    .small {
        .inner-box{
            .inner-box__content{
                bottom: 0;
                padding: 30px 20px 20px 30px;
                
               
            }
            @media screen and (max-width: 1024px) {
                .inner-box__content{
                   
                    padding: 0px 20px 20px 30px;
                    h3,p{
                        margin-bottom: 20px;
                    }
                }
                
            }
            
            @media screen and (max-width: 500px) {
                .inner-box__content{
                    height: 100%;
                    padding: 0px 20px 20px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                }
                
            }
        }
        &.column-two:first-child{
            @media screen and (max-width: 1024px) {
                .inner-box__content{
                    padding: 0px 20px 10px 30px;
                    h3,p{
                        margin-bottom: 5px;
                    }
                }
                
            }
            @media screen and (max-width: 500px) {
                .inner-box__content{
                    
                    h3{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .column-two{
        @media screen and (max-width: 500px) {
            .inner-box__content{
                
                p{
                    margin-bottom: 20px;
                }
            }
            
        }
    }
    .text-content{
        height: 300px;
        position: relative;
        padding: 79px 30px 30px;
        margin-bottom: 30px;
        color: $mainTextColor;
        h2{
            display: inline-block;
            margin-bottom: 22px;
        }
        p{
            margin-bottom: 25px;
        }
        &::after{
            content: url(../images/icons/brand-icon.svg);
            position: absolute;
            top: 20px;
            right: 30px;
        }
        @media screen and (max-width: 1440px) {
            padding: 55px 30px;
        }
        @media screen and (max-width: 1024px) {
            padding: 30px 20px;
        }
        @media screen and (max-width: 425px) {
            height: 250px;
        }
    }
    
    .medium{
        position: relative;    
        height: 470px;
    }
    .small{
        position: relative;    
        height: 300px;
    }
    .works-grid__bottom-row{
        width: 100%;
        display: flex;
        .column__item{
            @media screen  and (max-width: 1024px){
                height: 250px;
            }
            
        }
    }
} 
// ===== services
.services {
    background-color: $lightGrey;
    padding: 175px 0 54px;
    margin-top: -150px;
    img{
        position: relative;
    }
    ul{
        align-items: center;
    }
    .services__list{
       
        li{
            margin-right: 119px;
            position: relative;
            &:nth-child(1){
                padding-left: 3px;
                padding-top: 2px;
            }
            &:nth-child(2){
                margin-right: 138px;
                img{
                    bottom: 15px;
                }
            }
            &:nth-child(3){
                margin-right: 132px;
                img{
                    bottom: 8px;
                }
            }
            &:nth-child(4){
                margin-right: 152px;
                img{
                    bottom: 2px;
                }
            }
            &:nth-child(5){
                img{
                    bottom: 5px;
                }
            }
        }
        &--second{
            li{
                position: relative;
                &:nth-child(1){
                    margin-right: 110px;
                   
                    left: -22px;
                    top: 9px;
                    img{
                        bottom: 8px;
                    }
                }
                &:nth-child(2){
                    margin-right: 210px;
                    
                    left: -22px;
                    top: 9px;
                    img{
                        bottom: 8px;
                    }
                }
                &:nth-child(3){
                    margin-right: 170px;
                    img{
                        bottom: 0px;
                    }
                }
                &:nth-child(4){
                    margin-right: 136px;
                    img{
                        bottom: 5px;
                    }
                }
                &:nth-child(5){
                    img{
                        bottom: -1px;
                    }
                }
            }
        }
        &--third{
            li{
                &:nth-child(1){
                    margin-right: 103px;
                    img{
                        bottom: -4px;
                        left: -3px;
                    }
                }
                &:nth-child(2){
                    margin-right: 182px;
                    img{
                        bottom: -2px;
                        left: 0px;
                    }
                }
                &:nth-child(3){
                    margin-right: 175px;
                    img{
                        bottom: -6px;
                    }
                }
                &:nth-child(4){
                    margin-right: 132px;
                    img{
                        bottom: -8px;
                    }
                }
                &:nth-child(5){
                   
                    img{
                        bottom: -14px;
                    }
                }
            }
        }
        @media screen and (min-width: 2560px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 1440px) {
        ul{
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: 1024px) {
                justify-content: space-evenly;
               
            }
            li{
                margin-right: 0!important;
                @media screen and (max-width: 1024px) {
                    margin-bottom: 30px;
                    margin-right: 20px!important;
                }
            }
        }
        
     }
} 
// ==== who we are
.we-are{
    padding-top: 148px;
    .container{
        position: relative;
        @media screen  and (max-width: 1440px){
            padding-bottom: 0px;
        }
        @media screen  and (max-width: 768px){
            padding-bottom: initial;
        }
    }
    &__left-side{
        max-width: 800px;
        position: relative;
        padding: 97px 0px 88px 46.5px;
        z-index: 10;
        &:after{
            content: '';
            display: block;
            position: absolute;
            right: 0px;
            bottom: -16px;
            background-image: url(../images/icons/we-are-brand-icon.svg);
            width: 413.6px;
            height: 334.86px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
        }
        h2{
            margin: 25px 0 16px;
        }
        p{
            margin-bottom: 32px;
        }
        h4{
            margin-bottom: 7px;
            font-weight: 500;
            line-height: 26px;
            padding-left: 4px;
        }
        .left-side__services{
            display: flex;
            margin-bottom: 44px;
            padding-left: 4px;
            .column{
                max-width: 50%;
                flex: 1;
                img{
                    width: 15px;
                    height: 11px;
                    margin-right: 5px;
                }
                li{
                    font-size: 18px;
                    padding-top: 13px;
                    @media screen and (max-width: 425px) {
                        font-size: 12px;
                    }
                    @media screen and (max-width: 375px) {
                        font-size: 10px;
                    }
                }
                &:not(:last-child){
                    margin-right: 18px;
                }
            }
        }
        .boxed{
            margin-left: 3px;
            line-height: 26px;
            padding: 14px 34px 13px 21px;
            .more::after{
                right: 20px;
            }
            @media screen and (max-width: 425px) {
              
                padding: 5px 30px 5px 15px;
               font-size: 13px;
             
               
                &:after{
                    right: 15px;
                }
                &:hover{
                    &:after{
                        right: 5px;
                    }
                }
              
            }
          

        }
        @media screen and (max-width: 1440px) {
            width: 800px;
            padding: 50px 20px;
            position: relative;
            margin: 0 auto;
            br{
                display: none;
            }
            .left-side__services{
                .column{
                    &:first-child{
                        max-width: 40%;
                        margin-right: 5px;
                    }
                    max-width: 60%;
                }
            }
            
        }
        @media screen and (max-width: 992px) {
            position: relative;
            width: initial;
            left: 0;
            padding: 30px 15px;
            h2{
                margin: 20px 0 13px;
                line-height: 40px;
            }
            p{
                margin-bottom: 20px;
            }
            .left-side__services{
                margin-bottom: 30px;
                .column li{
                    font-size: 16px;
                }
            }
        }

        @media screen and (max-width: 425px) {
           p{
               margin-bottom: 20px;
               
           }
           h2{
            margin: 20px 0 13px;
            line-height: 30px;
            }
            .left-side__services{
                .column {
                    img{
                        width: 10px;
                    }
                    li{
                        font-size: 12px;
                    }
                }
            }
            
        }
        @media screen and (max-width: 425px) {
            .left-side__services{
                .column li{
                    font-size: 10px;
                }
            }
        }
        
    }
    
    .we-are__right-side{
        max-width: 985px;
        position: absolute;
       text-align: center;
       margin: 0 auto;
        top: -22px;
        @media screen  and (max-width: 2500px) {
            max-width: 985px;
            position: absolute;
           
            top: 85px;
        }
        @media screen  and (max-width: 1920px) {
            top: -15px;
        }
        @media screen and (max-width: 1440px) {
            max-width: 700px;
            position: relative;
            top: -14px;
           
        }
        @media screen and (max-width: 768px) {
            top: -10px;
        }
        @media screen and (max-width: 425px) {
           
        }
    }
    .cat{
        padding-left: 4px;
        &::after{
            left: 3px; 
            width: 85px;
        }
    }
    @media screen and (max-width: 1100px) {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
    @media screen  and (max-width: 425px){
        padding-top: 50px;
    }
}
// ====== life at FOF

.fof{
    padding-top: 144px;
    &__cat{
        &::after{
            background: $bgGradient;
        }
    }
    &__title{
        display: flex;
        justify-content: space-between;
        margin: 26px 0 36px;
        .boxed{
            align-self: center;
            margin-top: -6px;
        }
        @media screen and (max-width: 878px) {
            flex-direction: column;
            .boxed{
                margin-top: 20px;
                align-self: flex-end;
            }
            h2 {
                br{
                    display: none;
                }
            }
        }
    }
    .slider-link{
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        z-index: 10000000;
    }
    &__slider{
        position: relative;
        
        &::after{
            content: '';
            background-image: url(../images/slider-linkedin-icon.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 30px;
            height: 30px;
            right: 24px;
            top: 32px;
            z-index: 10000000;
            transform: translateX(0px);
            transition: ease .3s;
        }
        &:hover{
            &::after{
                top: 30px;
                transform: translateX(-8px);
            }
        }
        .slider__item{
            height: 652px;
            width: 25vw;
            position: relative;
            
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            overflow: hidden;
            .item__content{
                
                position: relative; 
                padding-left: 30px;
                padding-bottom: 69px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                color: $white;
                z-index: 20;
                background-position: center;
                
                background-repeat: no-repeat;
                h4{
                    margin-bottom: 8px;
                }
                p{
                    font-size: 16px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    background: linear-gradient(
                    315deg, #9adde9 0%, #f2c9aa 100%);
                    bottom: 0px;
                    left: 0px;
                    width: 160px;
                    height: 2px;
                    @media screen and (min-width: 2500px) {
                        bottom: 2px;
                    }
                }
                .text{
                    width: 80%;
                    height: 52px;
                }
                @media screen and (max-width: 1024px) {
                    padding-left: 20px;
                   
                    p{
                        max-width: 100%;
                        font-size: 15px;
                        line-height: 20px;
                    }
                    &::before{
                        width: 45%;
                    }
                    .text{
                        width: 93%;
                        height: 63px;
                    }
                }
                
                @media screen and (max-width: 768px) {
                    padding-bottom: 35px;
                    p{
                       
                        font-size: 12px;
                        
                    }
                    &::before{
                        width: 30%;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                height: 460px;
            }
            
        }
       
        .inner{
            width: 0;
            position: absolute;
            opacity: 0;
            z-index: 50;
            height: 100%;
            top:0;
            
            color: #fff;
            background-repeat: no-repeat;
            img{
                height: 100%;
                object-fit: cover;
            }
            .child{
                z-index: 200;
                height: 100%;
                &:hover{
                    width: 80vw;
                }
            }
            .alternative-content{
                max-width: 55%;
                opacity: 0;
                height: 0;
                position: absolute;
                bottom: 0;
                padding-left: 30px;
                padding-bottom: 69px;
                p{
                    padding-top: 30px;
                }
            }
            
        }
        // ====  hover effect for slider items
        .outer{
            
           .item__content{
               transition: ease .5s;
               overflow: hidden;
               .text{
                   position: relative;
                   overflow: hidden;
                   max-width: initial;
               }
               .additional-text{
                   opacity: 0;
                   position: absolute;
                   left: 0px;
                   top: 0;
                   width: 0;
                   height: 0;
                   
               }
               p{
                width: 80vw;
                transition: ease 1s;
               }
               .more{
                   opacity: 0;
                   max-width: 100px;
                   height: 0;
                    &::after{
                        background-image: url('../images/icons/arrow-forward.svg');
                        background-size: cover  ;
                       width: 15px;
                       height: 15px;
                       top: calc(50% - 7px);
                       transition: ease-in-out .2s;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background: rgb(154,221,233);
                        background: linear-gradient(315deg, rgba(154,221,233,1) 0%, rgba(242,201,170,1) 100%);
                        transition: ease .3s;
                        
                    }
                    &:hover{
                        &::before{
                            width: 80%;
                        }
                        
                    }
               }

           }
            &:hover{
                position: absolute;
                width: 100vw!important;
                left: 0;
                z-index: 100;
                background-image: none!important;
                overflow: visible;
                .item__content{
                    background-image: none!important;
                    position: absolute;
                    width: 100vw!important;
                    left: 0;
                    background-size: cover;
                     z-index: 2005;
                   &:first-child{
                       z-index: 2005;
                   }
                    overflow: visible;
                    p{
                        
                        max-width: 50vw;
                    }
                    h4{
                        position: relative;
                        transition-duration: .6s;
                        transform: translateY(-20px);
                    }
                    .text{
                        width: 80vw;
                        height: initial;
                        margin-bottom: 30px;
                        overflow: visible;
                    }
                    .more{
                        opacity: 1;
                        height: initial;
                    }
                    
                    .additional-text{
                       
                        width: 100%;
                        opacity: 1;
                        transition-duration: .6s;
                    }
                    &::before{
                        width: 100vw;
                    }
                }
                &:first-child{
                    .item__content{

                        z-index: 2005;
                    }
                }
                .inner{
                   
                    z-index: 1000;
                    left: 0;
                    width: 80%;
                   
                    opacity: 1;
                    transition: width ease .5s;
                    .child{
                        width: 100%;
                        transition: width ease-in-out .5s;
                        
                    }
                   
                    &.shadow::after{
                        background: linear-gradient(190deg, rgba(24, 25, 26, 0) 0%, #18191a9e 100%);
                        display: none;
                    }
                }
            
                .alternative-content{
                    z-index: 20;
                    opacity: 0;
                    height: initial;
                    h4{
                        transition-duration: .3s;
                        transform: translateY(-30px);
                    }
                }
            }
        // with js attr
            &:hover{
                &[data-custom-number='2']{
                    .item__content, .inner{
                        position: absolute;
                        left: 19vw;
                        
                    }
                }
                
                &[data-custom-number='1']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                }
                &[data-custom-number='0']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                   
                }
                &[data-custom-number='-1']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                }
                &[data-custom-number='-5']{
                    .item__content, .inner{
                        left: 39vw;
                    }
                    
                }
                &[data-custom-number='-6']{
                    .item__content, .inner{
                        left: 39vw;
                    }
                    
                }
                &[data-custom-number='-7']{
                    .item__content, .inner{
                        left: 39vw;
                    }
                    
                }
                &[data-custom-number='-8']{
                    .item__content, .inner{
                        left: 39vw;
                    }
                }
                &[data-custom-number='-9']{
                    .item__content, .inner{
                        left: 39vw;
                    }
                }
                &[data-custom-number='-18']{
                    .item__content, .inner{
                        left: 0;
                    }
                }
                &[data-custom-number='-19']{
                    .item__content, .inner{
                        left: 39vw;
                    }
                }
                &[data-custom-number='-10']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                }
                &[data-custom-number='-11']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                }
                &[data-custom-number='-12']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                }
                &[data-custom-number='-13']{
                    .item__content, .inner{
                        left: 19vw;
                    }
                }
           
                &[data-custom-number='-20']{
                    .item__content, .inner{
                        left: 58vw;
                    }
                }
                &[data-custom-number='-21']{
                    .item__content, .inner{
                        left: 58vw;
                    }
                }
            }
            @media screen and (max-width: 1024.1px) {
                &:hover{
                    
                
                    &[data-custom-number='2']{
                        .item__content, .inner{
                            left: 26vw;
                        }
                       
                    }
                    &[data-custom-number='1']{
                        .item__content, .inner{
                            left: 25vw;
                        }
                       
                    }

                    &[data-custom-number='0']{
                        .item__content, .inner{
                            left: 25vw;
                        }
                       
                    }
                    &[data-custom-number='-5']{
                        .item__content, .inner{
                            left: 51vw;
                        }
                        
                    }
                    &[data-custom-number='-6']{
                        .item__content, .inner{
                            left: 51vw;
                        }
                        
                    }
                    &[data-custom-number='-7']{
                        .item__content, .inner{
                            left: 51vw;
                        }
                        
                    }
                    &[data-custom-number='-12']{
                        .item__content, .inner{
                            left: 77vw;
                        }
                        
                    }
                    &[data-custom-number='-13']{
                        .item__content, .inner{
                            left: 77vw;
                        }
                        
                    }
                    &[data-custom-number='-14']{
                        .item__content, .inner{
                            left: 77vw;
                        }
                        
                    }
                    &[data-custom-number='-19']{
                        .item__content, .inner{
                            left: 51vw;
                        }
                        
                    }
                    &[data-custom-number='-18']{
                        .item__content, .inner{
                            left: 51vw;
                        }
                        
                    }
                    &[data-custom-number='-17']{
                        .item__content, .inner{
                            left: 51vw;
                        }
                        
                    }
                    &[data-custom-number='-24']{
                        .item__content, .inner{
                            left: 26vw;
                        }
                        
                    }
                    &[data-custom-number='-23']{
                        .item__content, .inner{
                            left: 25vw;
                        }
                        
                    }
                    
                }
            }
            @media screen and (max-width: 768.1px) {
                &:hover{
                    &[data-slick-index='0']{
                        .item__content{
                            left: 0;
                        }
                        .child{
                            width: 100vw;
                        }
                    };
                    &[data-slick-index='1']{
                        .item__content, .inner{
                            left: -26vw;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                    &[data-slick-index='2']{
                        .item__content, .inner{
                            left: -53vw;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                    &[data-slick-index='3']{
                        .item__content, .inner{
                            left: 0;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                    &[data-slick-index='4']{
                        .item__content, .inner{
                            left: -26vw;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                    &[data-slick-index='5']{
                        .item__content, .inner{
                            left: -53vw;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                    &[data-slick-index='7']{
                        .item__content, .inner{
                            left: -26vw;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                    &[data-slick-index='8']{
                        .item__content, .inner{
                            left: -53vw;
                        }
                        .child{
                            width: 100vw;
                        }
                    }
                }
                
            }
            @media screen and (max-width: 768px) {
                pointer-events: none;
            }
        }
        
        &.shadow{
            background-image:linear-gradient(190deg, rgba(24, 25, 26, 0) 0%, #18191a67 100%);
            &::after{
                display: none;
            }
        }
        
        
        @media screen and (max-width: 425px) {
            .slick-list, .slider__item{
                max-height: 400px;
            }
            .fa-chevron-right{
                right: 0px;
            }
            .fa-chevron-left{
                left: 80%;
            }
            .slick-arrow{
                bottom: -50px;
            }
        }
        
        .slick-arrow{
            position: absolute;
            bottom: -70px;
            top: inherit;
            width: 40px;
            height: 40px;
            cursor: pointer;
            @media screen and (max-width: 425px) {
                width: 20px;
                height: 20px;
            }
        }
        .fa-chevron-right{
            right: -10px;
        }
        .fa-chevron-left{
            left: 94%;
            
        }
        @media screen and (max-width: 1024px) {
            .fa-chevron-left{
                left: 90%;
            }
            
        }
        @media screen and (max-width: 768px) {
            .fa-chevron-left{
                left: 86%;
            }
        }
        
    }
    @media screen and (max-width: 1024px) {
        padding-top: 40px;
        h4{
          font-size: 20px; 
        }
    }
    @media screen and (max-width: 425px) {
        padding-top: 0;
    }
    .slider-nav{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 30px;
        .slides-counter{
            color: #fff;
            font-size: 16px;
            margin-right: 20px;
            @media screen and (max-width: 425px) {
            font-size: 11px;
            }
        }
        .prev, .next{
            position: relative;
            width: 30px;
            height: 30px;
            top: 0;
            left: 0;
            display: flex!important;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 40px;
            @media screen and (max-width: 425px) {
                width: 20px;
                height: 20px;
                font-size: 20px;
            }
        }
        i{
            position: relative;
            left: 0;
            top: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            
        }
        .fa-chevron-right::before{
            
            bottom: 0;
            height: initial;
        }
        .fa-chevron-left::before{
          
            bottom: 0;
            height: initial;
            
        }
        .prev{
            margin-right: 30px;
            @media screen and (max-width: 425px) {
                margin-right: 20px;
            }
        }
    }
}
// ======= news 
.news {
    margin-top: -164px;
    background-color: $darkBg;
    color: $white;
    &__content{
        padding-top: 318px;
        margin-bottom: 100px;
        background-image: url(../images/news-bg-2.svg);
        background-position: 50% 140%; 
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
            background-position: 50% 65%;
            margin: 50px 0;
            padding-top: 180px;
        }
        
    }
    .cat{
        padding-left: 0;
        &::after{
            left: 0px;
            bottom: -4px;
            background: linear-gradient(315deg, #9adde9 0%, #f2c9aa 100%);
        }
    }
    &__title {
        margin: 20px 0 22px;
        display: flex;
        justify-content: space-between;
        
        h2{
            color: $coralColor;
        }
        .boxed {
           display: flex;
           align-items: center;
            height: 49px;
            width: 112px;
            position: relative;
            top: -8px;
            left: 0.5px;
            
            &:hover{
                &::after{
                    right: 17px;
                }
            }
            @media screen and (max-width: 500px) {
                &::after{
                    right: 20px;
                }
            }
        }
        @media screen and (max-width: 600px) {
            flex-direction: column;
            .boxed{
                height: 40px;
            
                margin-top: 20px;
                align-self: flex-end;
                &::after{
                    top: calc(50% - 5px);
                }
            }
        }
    }
    &__cards {
        display: flex;
        .card{
            flex: 1;
            max-width: 32%;
           &__image{
               margin-bottom: 16px;
           }
           &__date{
            margin-bottom: 9px;
            font-size: 14px;
           }
           &__descr{
            color: $coralColor;
            margin-bottom: 16px;
            line-height: 32px;
            @media screen and (max-width: 768px) {
                line-height: 26px;
            }
           }
           .more{
               font-size: 20px;
               &::after{
                   content: '';
                   background-image: url('../images/icons/arrow-forward.svg');
                   background-position: center;
                   background-size: cover;
               }
               
           }
            &:not(:last-child){
                margin-right: 30px;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                }
            }
        }
        @media screen and (max-width: 790px) {
            flex-wrap: wrap;
            .card{
                max-width: 100%;
                flex-basis: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
    &__banner{
        background-color: $white;
        color: $darkBg;
        padding: 45px 40px 54px 50px;
        h2{
            margin-bottom: 11px;
        }
        p{
            max-width: 49%;
            margin-bottom: 17px;

        }
        .boxed{
            padding: 12px 42px 8px 8px;
        }
       
        @media screen and (max-width: 768px) {
                   padding: 30px 40px 35px 50px;
        }
        
    }
}
// ==== footer
.footer{
    padding: 100px 0 17px;
    background-color: $darkBg;
    color: $contrastWhite;
    font-size: 16px;
    .container{
        .column{
            max-width: 23.5%;
            flex: 1;
            margin-right: 0;
            position: relative;
        }
    }
    .after-line::after{
        bottom: -2px;
    }
    &__columns{
        display: flex;
        margin-bottom: 47px;
        .column{
            li{
                a{
                    color: #F3F3F3;
                }
                
                margin-bottom: 17px;
               &:last-child{
                   margin-bottom: 0;
               }
            }
            &:last-child{
                display: flex;
                justify-content: flex-end;
                padding-right: 42px;
            }
           
                .adress{
                    line-height: 26px;
                    
                }
            .social-block{
                li:nth-child(2){
                    margin-bottom: 61px;
                }
            }
        }
        .column__menu{
            padding-left: 31px;
            .left {
                width: 50%;
                margin-right: 128px;
                @media screen and (max-width: 1440px) {
                    margin-right: 60px;
                }
                @media screen and (max-width: 1100px) {
                    padding-left: 10px;
                }
                @media screen and (max-width: 992px) {
                    padding-left: 0px;
                }
            }
            .right{
                width: 50%;
                padding-top: 38px;
            }
            li{
                line-height: 25px;
                margin-bottom: 14px;
                a{
                   
                    text-transform: capitalize;
                }
            }
        }
    }
    &__credits{
        text-align: center;
        font-size: 14px;
        color: $textMuted;
    }
}

.play-icon {
    #mylightbox{
        opacity:0;
    }
}
.featherlight-content{
    #mylightbox{
        opacity:1;
    }
}

@media screen  and (max-width: 1440px){
    h2{
        font-size: 40px;
    }
    .works-grid .medium{
        height: 444px;
    }
    .news__title, .fof__title{
        h2{
            flex: 1 50%;
        }
    }
    .footer{
        .container .column{
            flex-basis: 30%;
            
        }
        .column__menu {
            padding: 0;
        }
    }
}
@media screen and (max-width: 1200px) {
    .footer{
        .container .column{
            max-width: 26%;
            &:last-child{
                padding-right: 30px;
            }
        }
        .footer__columns{
            .column__menu .left{
                margin-right: 17px;
            }
            .column li, .column li a{
                font-size: 14px;
            }
        } 
    } 
}
@media screen and (max-width: 1024px) {
    h4{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    .news__cards .card .more{
        font-size: 16px;
    }
    
    .news__banner {
        p{
            max-width: 90%;
        }
    }
    
}

@media screen and (max-width: 992px) {
    .footer {
        padding-top: 150px;
        position: relative;
        .container{
            .footer__columns{
                flex-wrap: wrap;
                .column{
                    max-width: 40%;
                    flex-basis: 30%;
                    &:first-child{
                        position: absolute;
                        left: calc(50% - 72.5px);
                        top: 50px;
                    }
                    &:nth-child(2){
                        flex-basis: 40%;
                    }
                    @media screen and (max-width: 741px) {
                        li, a {
                            font-size: 12px;
                            line-height: 20px;
                            margin-bottom: 10px;
                        }
                        .social-block{
                            li{
                                margin-bottom: 15px;
                            }
                        }
                        &:nth-child(2){
                            max-width: 100%;
                            flex-basis: 100%;
                        }
                        &:last-child{
                            flex-basis: 10%;
                            padding: 0;
                        }
                    }
                    @media screen and (max-width: 741px) {
                        flex-basis: 50%;
                        max-width: 60%;
                    }
                }
                .column__menu {
                
                    @media screen and (max-width: 741px) {
                        .right{
                            padding-top: 30px;
                        }
                    }
                }
                
                

            }
            
        }
        
    }
}

@media screen and (max-width: 768px) {
    h2{
        font-size: 30px;
    }
    
    h4{
        font-size: 18px; 
        line-height: 25px;
    }
    .news__cards .card .more{
        font-size: 14px;
    }
    .works-grid .medium{
        height: 400px;
    }
    
    
}
@media screen and (max-width: 742px) {
    .footer-email, .adress{
        position: absolute;
        right: 0;
    }
    .adress{
        bottom: 40px;
    }
    .footer-email{
       
        bottom: 0;
    }
}
@media screen and (max-width: 700px) {
    nav{
        position: relative;
        padding-top: 60px;  
        .logo{
            position: absolute;
            left: calc(50% - 72.5px);
            top:0;
        }
    }
    header .navigation{
        .navigation__list{
            position: relative;
            width: 100%;
            padding-top: 60px;
            justify-content: space-between;
            .list-item{
                margin: 0!important;
                &:first-child{
                    position: absolute;
                    left: calc(50% - 37.5px);
                    top: 10px;
                }
                &:nth-child(3){
                    margin-right: 10px;
                }
            }
        }
        
    } 
    
}
@media screen and (max-width: 670px) {
    #mylightbox{
        max-width: 100%;
    }
}
@media screen and (max-width: 425px) {
    p{
        font-size: 13px;
        line-height: 23px;
    }
    h2{
        font-size: 25px;
        line-height: 30px;
    }
    .news__banner {
        padding: 20px;
        p{
            line-height: 20px;
        }
    }
    .services{
        padding-bottom: 30px;
        .services__list {
            li{
                margin-bottom: 10px;
            }
        }
       
        img{
            max-width: 88px;
        }
    } 
    .works-grid .medium, .works-grid .column:nth-child(3) .column__item{
        height: 300px;
    }
    .footer__credits{
        font-size: 9px;
    }
}
.slick-disabled {
    pointer-events: none!important;
}