@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Light.eot');
	src: local('Rubik Light'), local('Rubik-Light'),
		url('Rubik-Light.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Light.woff') format('woff'),
		url('Rubik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Medium.eot');
	src: local('Rubik Medium'), local('Rubik-Medium'),
		url('Rubik-Medium.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Medium.woff') format('woff'),
		url('Rubik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Bold.eot');
	src: local('Rubik Bold'), local('Rubik-Bold'),
		url('Rubik-Bold.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Bold.woff') format('woff'),
		url('Rubik-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Regular.eot');
	src: local('Rubik'), local('Rubik-Regular'),
		url('Rubik-Regular.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Regular.woff') format('woff'),
		url('Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik Mono One';
	src: url('RubikMonoOne-Regular.eot');
	src: local('Rubik Mono One Regular'), local('RubikMonoOne-Regular'),
		url('RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),
		url('RubikMonoOne-Regular.woff') format('woff'),
		url('RubikMonoOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('Rubik-Black.eot');
	src: local('Rubik Black'), local('Rubik-Black'),
		url('Rubik-Black.eot?#iefix') format('embedded-opentype'),
		url('Rubik-Black.woff') format('woff'),
		url('Rubik-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Rubik';
	src: url('Rubik-SemiBold.eot');
	src: local('Rubik SemiBold'), local('Rubik-SemiBold'),
		url('Rubik-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Rubik-SemiBold.woff') format('woff'),
		url('Rubik-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
